# CMake
cmake-build-debug/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# IDE
.idea

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# modules
*.iml

# bunq-specific
bunq.conf
context-save-restore-test.conf
/tmp
config.properties
bunq-test.conf

# Test files
/src/test/Resource/bunq-oauth-test.conf
/src/test/Resource/bunq-psd2-test.conf
/src/test/Resource/certificate.pem
/src/test/Resource/key.pem
